# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore output files
*.csv
*.html
*.pdf
*.mp4

# Ignore Python cache files
__pycache__/

# Ignore environment files
venv/
env/

# Ignore other files
.DS_Store
*.pdf
*.docx
*.png
*.jpg
*.jpeg